<style type="text/css">
	body {
		margin: 0px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: rgb(51, 51, 51);
		background-color: rgb(255, 255, 255);
	}

	.hero-unit {
		padding: 10px;
		margin-bottom: 30px;
		border-radius: 6px 6px 6px 6px;
		background-color: #A9F16C;
	}

	.container {
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		margin: 10px 0px;
		font-family: inherit;
		font-weight: bold;
		text-rendering: optimizelegibility;
	}
	
	a:link { 
		color: #000000;
	}
	
	a:visited { 
		color: #000000;
	}
	
	a:hover { 
		color: blue;
	}

	a:active { 
		color: #000000;
	}

	.hero-unit h1 {
		margin-bottom: 0px;
		font-size: 60px;
		color: inherit;
	}

	.title {
		font-size: 25px;
	}
	
	.subtitle {
		padding-top: 5px;
		padding-left: 5px;
		font-size: 20px;
	}
	
	.description {
		padding-top: 5px;
		padding-left: 5px;
		font-size: 20px;
	}
	
	.list {
		width: 100%;
	}
	
	.list th {
		text-align: left;
		font-size: 20px;
	}

	.list td {
		text-align: left;
		font-size: 18px;
	}

	.stations {
		padding-top: 20px;
		clear: both;
	}

</style>