<div class="wrapper" style="margin-top: 5px;">
	<!-- Tab panes -->
	<div class="tab-content">		
		<div class="tab-pane active" id="section2">
			<div class="row">
				<div style="width:100%;font-size: 18px; height: 40px; padding-left: 15px;">Welcome to KubeEdge Demo</div>
				<div class="col-md-12 space">
					<table style="width: 100%; font-size: 18px;" id="tracktable">
						<tr style="height: 30px;">
							<td style="width: 15%">
								<input type="radio" name="track" value="ON" checked />
							</td>
							<td>
								1. ON
							</td>
						</tr>
						<tr style="height: 30px;">
							<td>
								<input type="radio" name="track" value="OFF" />
							</td>

							<td>
								2. OFF
							</td>
						</tr>
						<tr style="height: 30px;">
							<td>
								<input type="radio" name="track" value="STATUS" />
							</td>

							<td>
								3. STATUS
							</td>
						</tr>
					</table>

					<div style="text-align: center">
						<input class="btn btn-success button" id="track-play-button" type="button" value="Execute" style="width: 100px; margin: 20px"/>
					</div>

					<div id="stations-view-json" style="text-align: center; color:green">
					</div>
				</div>
			</div>
		</div>
	</div><!-- Tab Content End -->
</div><!-- Wrapper End -->
<div class="wrapper" style="margin-top: 5px;">
	<div class="tab-content">
		<div class="tab-pane active" id="section2">
			<div class="row">
				<div style="width:100%;font-size: 18px; height: 40px; padding-left: 15px;">Welcome to KubeEdge Community</div>
				<div class="col-md-12 space">
					KubeEdge is an open source system extending native containerized application orchestration and device management to hosts at the Edge.<br><br>
					Website: <a href="https://kubeedge.io">https://kubeedge.io</a><br>
					Github: <a href="https://github.com/kubeedge/kubeedge">https://github.com/kubeedge/kubeedge</a><br>
					Slack: <a href="https://kubeedge.slack.com">https://kubeedge.slack.com</a><br>
					Mail: <a href="https://groups.google.com/forum/#!forum/kubeedge">https://groups.google.com/forum/#!forum/kubeedge</a><br>
					Twitter: <a href="https://twitter.com/KubeEdge">https://twitter.com/KubeEdge</a><br>
					Documentation: <a href="https://docs.kubeedge.io/en/latest">https://docs.kubeedge.io/en/latest</a><br>
				</div>
			</div>
		</div>
	</div>
</div>
